<div class="bg-beige min-h-screen px-4 py-8">
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-8">Automations</h1>

    <div class="flex gap-4 mb-4">
      <div class="flex items-center gap-2">
        <label class="block font-medium mb-2">Quick Find:</label>
        <input
          type="text"
          placeholder="Search by name..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterAutomations()"
          class="border border-gray-300 p-2 rounded-md bg-white shadow-sm focus:outline-none focus:border-brown focus:ring-2 focus:ring-brown focus:ring-opacity-50 transition"
        />
      </div>

      <div class="flex items-center gap-2">
        <label for="category" class="block font-medium mb-2">Toutes les catégories:</label>
        <select
          id="category"
          class="w-full border border-gray-700 p-2 rounded-md bg-white shadow-sm focus:outline-none focus:border-brown focus:ring-2 focus:ring-brown focus:ring-opacity-50 transition"
          [(ngModel)]="selectedCategory"
          (ngModelChange)="filterAutomations()"
        >
          <option value="all">Toutes les catégories</option>
          <option value="Scheduled">Scheduled</option>
          <option value="PausedSchedule">Paused schedule</option>
          <option value="Building">Building</option>
          <option value="Ready">Ready</option>
        </select>
      </div>
    </div>
    <br>
    <button (click)="openCreateDialog()" class="px-4 py-2 bg-green-500 text-white rounded-md mb-4">Add Automation</button>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div
        class="automation-card bg-white rounded-lg shadow-md flex border border-gray-300 p-6"
        *ngFor="let automation of filteredAutomations; let i = index"  (click)="openDetails(automation)"
      >
        <div class="w-full">
          <h2 class="text-xl font-semibold mb-4 automation-name" (click)="openDetails(automation)">{{ automation.name }}</h2>
          <p class="text-gray-700">Status: {{ automation.status }}</p>
          <button (click)="deleteAutomation(automation.id)" class="px-3 py-1 bg-red-500 text-white rounded-md">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
